<!DOCTYPE html>
<html>
<head>
<title>Profile</title>
<style>
body{
font-family:Arial;
background:#0f172a;
color:white;
padding:40px;
}
.card{
background:#1e293b;
padding:30px;
border-radius:18px;
max-width:500px;
margin:auto;
}
a{
color:#22c55e;
text-decoration:none;
}
</style>
</head>
<body>

<div class="card">
<h1>👤 Profile</h1>
<br>

<p><b>Username:</b> {{ user[1] }}</p>
<p><b>Email:</b> {{ user[2] }}</p>
<p><b>Status:</b> Active</p>

<br>
<a href="/">⬅ Back Dashboard</a>
</div>

</body>
</html>